---
layout: null
title: Tech radar
permalink: /skjohansen-techradar.csv
---
name,ring,quadrant,isNew,description  
{%for language in site.data.technologies.languages -%}
"{{language.technology}}","{{language.ring}}","language and frameworks",{{language.isNew}},"{{language.description}}"
{%endfor-%}
{%for technology in site.data.technologies.techniques -%}
"{{technology.technology}}","{{technology.ring}}","techniques",{{technology.isNew}},"{{technology.description}}"
{%endfor-%}
{%for tool in site.data.technologies.tools -%}
"{{tool.technology}}","{{tool.ring}}","tools",{{tool.isNew}},"{{tool.description}}"
{%endfor-%}
{%for platform in site.data.technologies.platforms -%}
"{{platform.technology}}","{{platform.ring}}","platforms",{{platform.isNew}},"{{platform.description}}"
{%endfor-%}
