---
layout: null
title: Tech radar
permalink: /skjohansen-techradar.csv
---
name,ring,quadrant,isNew,description  
{%for tech in site.data.technologies.languages -%}
"{{tech.technology}}","{{tech.ring}}","language and frameworks",{{tech.isNew}},"{{tech.description}}"
{%- endfor%}
{%for tech in site.data.technologies.techniques -%}
"{{tech.technology}}","{{tech.ring}}","techniques",{{tech.isNew}},"{{tech.description}}"
{%- endfor%}
{%for tech in site.data.technologies.tools -%}
"{{tech.technology}}","{{tech.ring}}","tools",{{tech.isNew}},"{{tech.description}}"
{%- endfor%}
{%for tech in site.data.technologies.platforms -%}
"{{tech.technology}}","{{tech.ring}}","platforms",{{tech.isNew}},"{{tech.description}}"
{%- endfor%}