 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>I started working professionally with cyber security in 2003 and software development in 2004, since then have I developed my skills and is now running my own consultancy within these fields.</p>
                    <p>I am driven by helping others and prefer my work to be anchored in research. Whatever project I am involved in, I use my strong creative urge and holistic approach, no matter if it is to build software systems, analyse technical problems, competence development or build a high-performing team.</p>
                    <p>I have a key interest in the cross section between humans and technology. How we interact with technology, how we teach technology and how technology can help manage companies. I believe that knowledge obtained in a fun and diverse environment, is the key to a successful technology integration.</p>
                </div>
            </div>
        </div>
    </section>
