 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>I believe ...</h3>
                    <p>that many of the security incidents we experience can be avoided in the cross section between <b>humans</b> and <b>technology</b>, by increasing the focus on craftsmanship</p>
                    <p>the <b>two most important</b> factors in creating teams of craftsmen is an ongoing development of skills and effective communication.</p>
                    <p>knowledge obtained in a <b>playful</b> and <b>diverse</b> environment, is the key to a successful technology adoption and implementation.</p>
                    <p>that the key to a <b>high pace</b> in a development team, is to give the developers the steady flow of well thought requirements combined with a high degree of automatization</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>I have a keen interest in the cross section between humans and technology. How we interact with technology, how we teach technology and how technology can help evolve companies (both I don't believe in technology in the sake of technology).</p>
                    <p>I started working professionally with cyber security and software development in 2003, I am driven by helping others to perform at their max and prefer my work to be anchored in research.</p>
                    <p>Whatever project I am involved in, I use my strong creative urge and holistic approach, no matter if it is to build software systems, analyse technical problems, competence development or build a high-performing team.</p>                    
                </div>
            </div>
        </div>
    </section>
