 <!-- Portfolio Modals -->
 {% for post in site.passions %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img-large }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            {% if post.content  %}
                                <p>{{ post.content | markdownify  }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong><a href="{{ post.clientUrl }}">{{ post.client }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong>{{ post.project-date }}</a></strong>
                                    </li>
                                {% endif %}
                            </ul>
                            {% capture passionFilter %}technology.passions contains '{{post.passion}}'{% endcapture %}
                            {% assign techniques = site.data.technologies.techniques | where_exp:"technology",passionFilter  %}
                            {% if techniques and techniques.size > 0 %}
                            <ul class="list-inline item-details">
                                <li>Techniques:</li>
                                {%for technology in techniques -%}
                                <li><strong>{{ technology.technology }}</strong></li>
                                {%endfor-%}                                   
                            </ul>
                            {% endif %}
                            {% assign languages = site.data.technologies.languages | where_exp:"technology",passionFilter  %}
                            {% if languages and languages.size > 0 %}
                            <ul class="list-inline item-details">
                                <li>Language and frameworks:</li>
                                {%for technology in languages -%}
                                <li><strong>{{ technology.technology }}</strong></li>
                                {%endfor-%}                                   
                                
                            </ul>
                            {% endif %}
                            {% assign tools = site.data.technologies.tools | where_exp:"technology",passionFilter  %}
                            {% if tools and tools.size > 0 %}
                            <ul class="list-inline item-details">
                                <li>Tools:</li>
                                {%for technology in tools -%}
                                <li><strong>{{ technology.technology }}</strong></li>
                                {%endfor-%}                                   
                                
                            </ul>
                            {% endif %}
                            {% assign platforms = site.data.technologies.platforms | where_exp:"technology",passionFilter  %}
                            {% if platforms and platforms.size > 0 %}
                            <ul class="list-inline item-details">
                                <li>Platforms:</li>
                                {%for technology in platforms -%}
                                <li><strong>{{ technology.technology }}</strong></li>
                                {%endfor-%}                                   
                                
                            </ul>
                            {% endif %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}