 <!-- Blog post Section -->
 <section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog posts</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="blogpost-list">
                <div class="col-lg-12">
                    <ul>
                        {% for post in site.posts %}
                        <li>
                            {{ post.date | date: "%F" }} - <a href="{{ post.url }}">{{ post.title }}</a> (<i style="color: lightgray;">{{ post.passions }}</i>) : {{ post.summary }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
