<section id="techradar">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Tech radar</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>This tech radar shows the technologies I'm currently assessing, and I which state I currently see them.</p>
                <p>The don't show the technologies I use on a daily basis, otherwise should I be a bit crowded in the middle.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div>
                    <p>(click the image for navigating to the actual radar)</p>
                </div>
                <div>
                    <a href="https://radar.thoughtworks.com/?sheetId=https%3A%2F%2Fskjohansen.com%2Fskjohansen-techradar.csv" target="_blank"><img alt="Tech radar overview" src="img/techradar.png" class="img-responsive center-block" ></a>
                </div>
            </div>
        </div>
    </div>
</section>